.App {
    height: 100vh;
    padding: 20px;
    transition: background-color 0.3s ease;
  }
  
  .light {
    background-color: #f5f5f5;
    color: #333!important;
  }
  
  .dark {
    background-color: #333;
    color: #fff!important;
  }